Thusday    15/05/ 2025     # Data frmae work by dic  where in it data

In [6]:
import pandas as pd
d={'one ': pd.Series([1,2,3],index=['a','b','c']),
  'Two': pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)

   one   Two
a   1.0    1
b   2.0    2
c   3.0    3
d   NaN    4

Coloum selection and deleteion and addition opreation will perfrom

In [44]:
import pandas as pd
d={'one': pd.Series([1,2,3],index=['a','b','c']),
  'Two': pd.Series([1,2,3,4],index=['a','b','c','d']),
  'three':pd.Series([1,2],index=['a','b'])}
df1=pd.DataFrame(d)
print(df1)

   one  Two  three
a  1.0    1    1.0
b  2.0    2    2.0
c  3.0    3    NaN
d  NaN    4    NaN

In [25]:
df[['one','Two']]   # dataframe se data aayega na ki data 'd' me jo diya hai
                       # jab aap do se jadaya select karte ho to double dimention lagana padenga

   one  Two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [60]:
df1['forth']=pd.Series([10,11],index=['b','c'])
print(df1)

   one  Two  forth
a  1.0    1    NaN
b  2.0    2   10.0
c  3.0    3   11.0
d  NaN    4    NaN

In [61]:
df1['one']+df1['Two']
df1

   one  Two  forth
a  1.0    1    NaN
b  2.0    2   10.0
c  3.0    3   11.0
d  NaN    4    NaN

In [62]:
del df1['forth']     #del function for deleteion 
df1

   one  Two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [65]:
# pop is also work like delete
df1.pop('one')

KeyError: 'one'

In [72]:
import pandas as pd
d={'one ': pd.Series([10,20,30],index=['a','b','c']),
  'Two': pd.Series([10,20,30,40],index=['a','b','c','d'])}
df2=pd.DataFrame(d)
print(df2)

   one   Two
a  10.0   10
b  20.0   20
c  30.0   30
d   NaN   40

In [76]:
df2

   one   Two
a  10.0   10
b  20.0   20
c  30.0   30
d   NaN   40

In [77]:
df2.drop('one',axis=1,inplace=True)

KeyError: "['one'] not found in axis"