In [26]:
import pandas as pd
data = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(data, columns=['AB', 'BC', 'CD'])
print(df)

   AB  BC  CD
0   1   2   3
1   4   5   6
2   7   8   9

In [20]:
import pandas as pd
# Creating a DataFrame with a dictionary
name = {'Name':['john','jane','doe'], 'Age':[25,30,28], 'City':['New York','Los Angeles','Chicago']}
df = pd.DataFrame(name)
print(df)

   Name  Age         City
0  john   25     New York
1  jane   30  Los Angeles
2   doe   28      Chicago

In [23]:
import pandas as pd
# Creating a DataFrame with a dictionary
name = {'Name':['john','jane','doe'], 'Age':[25,30,28],'village':['rewa','satna','bhopalpur'], 'City':['New York','Los Angeles','Chicago']}
df = pd.DataFrame(name, index=['a','b','c'])
print(df)

   Name  Age    village         City
a  john   25       rewa     New York
b  jane   30      satna  Los Angeles
c   doe   28  bhopalpur      Chicago

In [15]:
import pandas as pd
data = [22,33,44,55,66]
gf = pd.DataFrame(data, columns=['num'])
print(gf)

   num
0   22
1   33
2   44
3   55
4   66

In [25]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data, columns=['num'], index=['a','b','c','d','e'])
print(df)

   num
a    1
b    2
c    3
d    4
e    5

In [ ]:
# we create dataframe by using
# list
# dictionary
# series