In [11]:
import pandas as pd

d = {
    'one': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
    'two': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
    'three': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
    'four': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
}

df1 = pd.DataFrame(d)
print(df1)

   one  two  three  four
a  1.0    1      1     1
b  2.0    2      2     2
c  3.0    3      3     3
d  NaN    4      4     4

In [7]:
df2 = df1['one'] + df1['two']
print(df2)

a    2.0
b    4.0
c    6.0
d    NaN
dtype: float64

In [8]:
df['forth'] = pd.Series([1, 2], index=['a', 'b'])
print(df['forth'])

NameError: name 'df' is not defined

In [9]:
del df1['two']  # This raises KeyError: 'two' if already deleted or doesn't exist