In [16]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'A':[1,2,np.nan],
                   'B':['a',np.nan,'c'],
                   'c':[10,np.nan,np.nan]})
print(df1)

     A    B     c
0  1.0    a  10.0
1  2.0  NaN   NaN
2  NaN    c   NaN

In [6]:
print(df1.fillna(9))

     A  B     c
0  1.0  a  10.0
1  2.0  9   9.0
2  9.0  c   9.0

In [8]:
df1['A'].fillna(df1['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [9]:

df1['A'].fillna(df1['A'].sum())

0    1.0
1    2.0
2    3.0
Name: A, dtype: float64

In [34]:
df1.dropna()
# this dropna operation removes all rows with null values in any column. If you want to remove rows with null values only in 
# specific columns, you can use the subset parameter.
df1.dropna(subset=['A', 'B'])
# this will remove rows with null values in columns A and B, but keep rows with null values in column C.

     A  B     c     D
0  1.0  a  10.0  11.0

In [ ]:
print(df1.dropna(inplace=True))
# when we use inplace=True, it changes the original dataframe. If you want to keep the original dataframe, you can use df1.copy()

None

In [23]:
df1

     A    B     c     D
0  1.0    a  10.0  11.0
1  2.0  NaN   NaN   NaN
2  NaN    c   NaN   NaN

In [ ]:
df1['D']=df1['A']+df1['c']
# it will give NaN values in the D column where A or c is NaN.
# in the d column the values will be NaN if either A or c is NaN.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3), index=['A', 'B', 'C', 'D', 'E'],columns=['one', 'two', 'three'])
print("Before")
print(df)
df = df.reindex(['A', 'B', 'C', 'D', 'E', 'F','G'])
print("After")
print(df)
print(df.dropna(axis=1))
# this will drop all columns with NaN values. If you want to drop rows with NaN values, you can use axis=0.
print(df.dropna(axis=0))
# this will drop all rows with NaN values. If you want to drop columns with NaN values, you can use axis=1.

Before
        one       two     three
A -0.401578  0.161771 -0.652136
B  1.512327  0.277988 -0.213475
C  0.212509  2.460123  0.838624
D  0.116139  0.294618 -0.468073
E -0.246809 -0.796633 -0.608884
After
        one       two     three
A -0.401578  0.161771 -0.652136
B  1.512327  0.277988 -0.213475
C  0.212509  2.460123  0.838624
D  0.116139  0.294618 -0.468073
E -0.246809 -0.796633 -0.608884
F       NaN       NaN       NaN
G       NaN       NaN       NaN
Empty DataFrame
Columns: []
Index: [A, B, C, D, E, F, G]
        one       two     three
A -0.401578  0.161771 -0.652136
B  1.512327  0.277988 -0.213475
C  0.212509  2.460123  0.838624
D  0.116139  0.294618 -0.468073
E -0.246809 -0.796633 -0.608884

In [47]:
import numpy as np
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'A': [1, 2, np.nan],
    'B': ['a', np.nan, 'c'],
    'C': [10, np.nan, np.nan],
    'D': [1,2,np.nan],
    'E': [np.nan, np.nan, np.nan]
})
print("Before")
print(df)
# Fill NaN values with a specific value
print("After")
df.dropna(thresh=2)
# this will drop rows that have less than 2 non-null values. In this case, it will drop the second and third rows.
# here thresh = 2 means that at least 2 non-null values are required to keep the row.

Before
     A    B     C    D   E
0  1.0    a  10.0  1.0 NaN
1  2.0  NaN   NaN  2.0 NaN
2  NaN    c   NaN  NaN NaN
After

     A    B     C    D   E
0  1.0    a  10.0  1.0 NaN
1  2.0  NaN   NaN  2.0 NaN