In [5]:
import pandas as pd
ipl_data = {'Team': ['Kolkata Knight Riders','Kolkata Knight Riders', 'Royal Challengers Bangalore', 'Delhi Capitals','Kolkata Knight Riders', 
                     'Delhi Capitals'
                     ,'Kolkata Knight Riders','Mumbai Indians','Chennai Super Kings',
                      'Chennai Super Kings', 'Delhi Capitals'],
            'Rank': [1, 2, 10, 4, 5, 6, 7, 8, 9,10,11],
            'year': [2012, 2013, 2014, 2015, 2016, 2020, 2018, 2019, 2020, 2021, 2022],
            'points': [10, 12, 14, 16, 18, 20, 22, 14, 26, 28, 30],
            }
df = pd.DataFrame(ipl_data)
df

                           Team  Rank  year  points
0         Kolkata Knight Riders     1  2012      10
1         Kolkata Knight Riders     2  2013      12
2   Royal Challengers Bangalore    10  2014      14
3                Delhi Capitals     4  2015      16
4         Kolkata Knight Riders     5  2016      18
5                Delhi Capitals     6  2020      20
6         Kolkata Knight Riders     7  2018      22
7                Mumbai Indians     8  2019      14
8           Chennai Super Kings     9  2020      26
9           Chennai Super Kings    10  2021      28
10               Delhi Capitals    11  2022      30

In [6]:
df1 = df.groupby('Rank').groups
print(df1)

{1: [0], 2: [1], 4: [3], 5: [4], 6: [5], 7: [6], 8: [7], 9: [8], 10: [2, 9], 11: [10]}

In [7]:
print(df.groupby('Rank').max())

                             Team  year  points
Rank
1           Kolkata Knight Riders  2012      10
2           Kolkata Knight Riders  2013      12
4                  Delhi Capitals  2015      16
5           Kolkata Knight Riders  2016      18
6                  Delhi Capitals  2020      20
7           Kolkata Knight Riders  2018      22
8                  Mumbai Indians  2019      14
9             Chennai Super Kings  2020      26
10    Royal Challengers Bangalore  2021      28
11                 Delhi Capitals  2022      30

In [12]:
g=df.groupby('year')
print(g.groups)
print(g.get_group(2020))

{2012: [0], 2013: [1], 2014: [2], 2015: [3], 2016: [4], 2018: [6], 2019: [7], 2020: [5, 8], 2021: [9], 2022: [10]}
                  Team  Rank  year  points
5       Delhi Capitals     6  2020      20
8  Chennai Super Kings     9  2020      26