In [1]:
import pandas as pd
ipl_data = {'Team': ['Kolkata Knight Riders','Kolkata Knight Riders', 'Royal Challengers Bangalore', 'Delhi Capitals','Kolkata Knight Riders', 
                     'Delhi Capitals'
                     ,'Kolkata Knight Riders',
                      'Chennai Super Kings', 'Delhi Capitals'],
            'Rank': [1, 2, 3, 4, 5, 6, 7, 8, 9],
            'year': [2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026],
            'Points': [18, 16, 14, 12, 10, 8, 6, 4, 2],
            }
df = pd.DataFrame(ipl_data)
df

                          Team  Rank  year  Points
0        Kolkata Knight Riders     1  2018      18
1        Kolkata Knight Riders     2  2019      16
2  Royal Challengers Bangalore     3  2020      14
3               Delhi Capitals     4  2021      12
4        Kolkata Knight Riders     5  2022      10
5               Delhi Capitals     6  2023       8
6        Kolkata Knight Riders     7  2024       6
7          Chennai Super Kings     8  2025       4
8               Delhi Capitals     9  2026       2