In [5]:
import pandas as pd
ipl_data = {'Team': ['Kolkata Knight Riders','Kolkata Knight Riders', 'Royal Challengers Bangalore', 'Delhi Capitals','Kolkata Knight Riders', 
                     'Delhi Capitals'
                     ,'Kolkata Knight Riders','Mumbai Indians','Chennai Super Kings',
                      'Chennai Super Kings', 'Delhi Capitals'],
            'Rank': [1, 2, 10, 4, 5, 6, 7, 8, 9,10,11],
            'year': [2012, 2013, 2014, 2015, 2016, 2020, 2018, 2019, 2020, 2021, 2022],
            'points': [10, 12, 14, 16, 18, 20, 22, 14, 26, 28, 30],
            }
df = pd.DataFrame(ipl_data)
df

                           Team  Rank  year  points
0         Kolkata Knight Riders     1  2012      10
1         Kolkata Knight Riders     2  2013      12
2   Royal Challengers Bangalore    10  2014      14
3                Delhi Capitals     4  2015      16
4         Kolkata Knight Riders     5  2016      18
5                Delhi Capitals     6  2020      20
6         Kolkata Knight Riders     7  2018      22
7                Mumbai Indians     8  2019      14
8           Chennai Super Kings     9  2020      26
9           Chennai Super Kings    10  2021      28
10               Delhi Capitals    11  2022      30

In [6]:
df1 = df.groupby('Rank').groups
print(df1)

{1: [0], 2: [1], 4: [3], 5: [4], 6: [5], 7: [6], 8: [7], 9: [8], 10: [2, 9], 11: [10]}

In [ ]:
print(df.groupby('Rank').max())
# here the output shows the max value of each group the group is formed by the rank and the max value is taken from the points column

                             Team  year  points
Rank
1           Kolkata Knight Riders  2012      10
2           Kolkata Knight Riders  2013      12
4                  Delhi Capitals  2015      16
5           Kolkata Knight Riders  2016      18
6                  Delhi Capitals  2020      20
7           Kolkata Knight Riders  2018      22
8                  Mumbai Indians  2019      14
9             Chennai Super Kings  2020      26
10    Royal Challengers Bangalore  2021      28
11                 Delhi Capitals  2022      30

In [12]:
g=df.groupby('year')
print(g.groups)
print(g.get_group(2020))

{2012: [0], 2013: [1], 2014: [2], 2015: [3], 2016: [4], 2018: [6], 2019: [7], 2020: [5, 8], 2021: [9], 2022: [10]}
                  Team  Rank  year  points
5       Delhi Capitals     6  2020      20
8  Chennai Super Kings     9  2020      26

In [13]:
print(df.groupby('Rank').max()['points'])

Rank
1     10
2     12
4     16
5     18
6     20
7     22
8     14
9     26
10    28
11    30
Name: points, dtype: int64

In [15]:
print(df.groupby('Rank').min()['points'])
print(df.groupby('Rank').count()['points'])

Rank
1     10
2     12
4     16
5     18
6     20
7     22
8     14
9     26
10    14
11    30
Name: points, dtype: int64
Rank
1     1
2     1
4     1
5     1
6     1
7     1
8     1
9     1
10    2
11    1
Name: points, dtype: int64

In [17]:
# std = standard_deviation
print(df.groupby('Team').std()['points'])

Team
Chennai Super Kings            1.414214
Delhi Capitals                 7.211103
Kolkata Knight Riders          5.507571
Mumbai Indians                      NaN
Royal Challengers Bangalore         NaN
Name: points, dtype: float64

In [18]:
import numpy as np
print(df.groupby('Team')['points'].agg([np.sum, np.mean, np.std]))

                             sum  mean       std
Team
Chennai Super Kings           54  27.0  1.414214
Delhi Capitals                66  22.0  7.211103
Kolkata Knight Riders         62  15.5  5.507571
Mumbai Indians                14  14.0       NaN
Royal Challengers Bangalore   14  14.0       NaN

C:\Users\AVANISH SINGH\AppData\Local\Temp\ipykernel_20380\610156589.py:2: FutureWarning: The provided callable <function sum at 0x000002C6FEACADE0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(df.groupby('Team')['points'].agg([np.sum, np.mean, np.std]))
C:\Users\AVANISH SINGH\AppData\Local\Temp\ipykernel_20380\610156589.py:2: FutureWarning: The provided callable <function mean at 0x000002C6FEAD4220> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(df.groupby('Team')['points'].agg([np.sum, np.mean, np.std]))
C:\Users\AVANISH SINGH\AppData\Local\Temp\ipykernel_20380\610156589.py:2: FutureWarning: The provided callable <function std at 0x000002C6FEAD4360> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  print(df.groupby('Team')['points'].agg([np.sum, np.mean, np.std]))