In [13]:
# Reset the index of the DataFrame
# basically this reset_index() method is used to reset the index of a DataFrame.
import numpy as np
import pandas as pd
# Create a DataFrame with randn values
from numpy.random import randint
df = pd.DataFrame(randint(0, 10, (5, 3)),['a', 'b', 'c', 'd', 'e'], ['A', 'B', 'C'])
print(df)
# Reset the index of the DataFrame
print(df.reset_index())
# basically this reset_index() method is used to reset the index of a DataFrame.
# It is useful when you want to convert the index into a column and create a new default integer index.
df

   A  B  C
a  7  5  1
b  7  1  2
c  9  0  6
d  5  5  8
e  2  7  7
  index  A  B  C
0     a  7  5  1
1     b  7  1  2
2     c  9  0  6
3     d  5  5  8
4     e  2  7  7

   A  B  C
a  7  5  1
b  7  1  2
c  9  0  6
d  5  5  8
e  2  7  7

In [12]:
import pandas as pd
# Create a DataFrame with NaN values
df = pd.DataFrame({'A': [1, 2, 3, 4, None, 5],
                   'B': [None, 2, 3, 4, 5, 6],
                   'C': [1, None, None, 4, 5, 6],
                   'D': [1, 2, 3, 4, 5, 6]})
# Set custom index
index = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6']
df.index = index
print(df)
# Reset the index of the DataFrame
print(df.reset_index())
# basically this reset_index() method is used to reset the index of a DataFrame.

         A    B    C  D
row_1  1.0  NaN  1.0  1
row_2  2.0  2.0  NaN  2
row_3  3.0  3.0  NaN  3
row_4  4.0  4.0  4.0  4
row_5  NaN  5.0  5.0  5
row_6  5.0  6.0  6.0  6
   index    A    B    C  D
0  row_1  1.0  NaN  1.0  1
1  row_2  2.0  2.0  NaN  2
2  row_3  3.0  3.0  NaN  3
3  row_4  4.0  4.0  4.0  4
4  row_5  NaN  5.0  5.0  5
5  row_6  5.0  6.0  6.0  6

In [21]:
# multiple index
import numpy as np
import pandas as pd
from numpy.random import randint
outer = ['a','a','a','b','b','b']
inner = [1,2,3,1,2,3]
h_index = list(zip(outer,inner))
h_index = pd.MultiIndex.from_tuples(h_index)
df1 = pd.DataFrame(randint(0, 10, (6, 2)))
print(df1)
df1 = pd.DataFrame(randint(0, 10, (6, 2)),h_index)
print(df1)
df1 = pd.DataFrame(randint(0, 10, (6, 2)),h_index, ['A', 'B'])
print(df1)

   0  1
0  2  0
1  4  0
2  7  0
3  6  5
4  6  5
5  4  9
     0  1
a 1  3  3
  2  1  5
  3  0  5
b 1  0  0
  2  7  3
  3  4  6
     A  B
a 1  6  5
  2  5  2
  3  6  4
b 1  2  2
  2  7  8
  3  0  8

In [ ]:
df1['A']

     A  B
a 1  6  5
  2  5  2
  3  6  4
b 1  2  2
  2  7  8
  3  0  8

In [22]:
df1.loc['a']

   A  B
1  6  5
2  5  2
3  6  4

In [24]:
df1.loc['a'].loc[1]

A    6
B    5
Name: 1, dtype: int32

In [ ]:
# df1.loc['a'].loc[1]
df1.loc['a'].loc[1].loc['A']

np.int32(6)

In [ ]:
# in multiindex iloc is not working they use default index
df1.iloc[4].iloc[1]

np.int32(8)