In [2]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3, 4, None, 5],
                   'B': [None, 2, 3, 4, 5, 6],
                   'C': [1, None, None, 4, 5, 6],
                   'D': [1, 2, 3, 4, 5, 6]})
index =['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6']
df.index = index
print(df)

         A    B    C  D
row_1  1.0  NaN  1.0  1
row_2  2.0  2.0  NaN  2
row_3  3.0  3.0  NaN  3
row_4  4.0  4.0  4.0  4
row_5  NaN  5.0  5.0  5
row_6  5.0  6.0  6.0  6

In [11]:
# Reset the index of the DataFrame
# basically this reset_index() method is used to reset the index of a DataFrame.
import numpy as np
import pandas as pd
# Create a DataFrame with randn values
from numpy.random import randint
df = pd.DataFrame(randint(0, 10, (5, 3)),['a', 'b', 'c', 'd', 'e'], ['A', 'B', 'C'])
print(df)
# Reset the index of the DataFrame
print(df.reset_index())
# basically this reset_index() method is used to reset the index of a DataFrame.
# It is useful when you want to convert the index into a column and create a new default integer index.
df

   A  B  C
a  5  8  4
b  5  9  8
c  7  2  6
d  3  9  2
e  3  3  6
  index  A  B  C
0     a  5  8  4
1     b  5  9  8
2     c  7  2  6
3     d  3  9  2
4     e  3  3  6

   A  B  C
a  5  8  4
b  5  9  8
c  7  2  6
d  3  9  2
e  3  3  6

In [12]:
import pandas as pd
# Create a DataFrame with NaN values
df = pd.DataFrame({'A': [1, 2, 3, 4, None, 5],
                   'B': [None, 2, 3, 4, 5, 6],
                   'C': [1, None, None, 4, 5, 6],
                   'D': [1, 2, 3, 4, 5, 6]})
# Set custom index
index = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6']
df.index = index
print(df)
# Reset the index of the DataFrame
print(df.reset_index())
# basically this reset_index() method is used to reset the index of a DataFrame.

         A    B    C  D
row_1  1.0  NaN  1.0  1
row_2  2.0  2.0  NaN  2
row_3  3.0  3.0  NaN  3
row_4  4.0  4.0  4.0  4
row_5  NaN  5.0  5.0  5
row_6  5.0  6.0  6.0  6
   index    A    B    C  D
0  row_1  1.0  NaN  1.0  1
1  row_2  2.0  2.0  NaN  2
2  row_3  3.0  3.0  NaN  3
3  row_4  4.0  4.0  4.0  4
4  row_5  NaN  5.0  5.0  5
5  row_6  5.0  6.0  6.0  6