In [9]:
import pandas as pd
list = ['A','B','C','D','E']
# series function is used to create a Series. It takes two arguments: array-like object and index. 
ser = pd.Series(list,name='aplha',index=list)
print(ser)

A    A
B    B
C    C
D    D
E    E
Name: aplha, dtype: object

In [7]:
import numpy as np
ser = np.arange(10,15)
serobj=pd.Series(data=ser*5,index=ser)
print(serobj)

10    50
11    55
12    60
13    65
14    70
dtype: int64

In [ ]:
import pandas as pd
s={'a':1,'b':2,'c':3,'d':4,'e':5}
# convert dictionary to series
s1=pd.Series(s,index)
print(s1)

SyntaxError: invalid syntax (2444373129.py, line 4)

In [11]:
import numpy as np
ser = np.arange(10,15)
serobj=pd.Series(data=ser*5,index=[i for i in "hello"])
print(serobj)

h    50
e    55
l    60
l    65
o    70
dtype: int64

In [ ]:
import numpy as np
ser = np.arange(10,15)
serobj=pd.Series(data=ser*5,index=[i for i in range(1,6)])
print(serobj)
print(ser)

[10 11 12 13 14]

In [15]:
import pandas as pd
import numpy as np
ser1 = pd.Series(np.linspace(1, 10, 5))
print(ser1)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [ ]:
series_1 =pd.Series([2,4,6,8])
series_2 =pd.Series([10,12,14,16])
# here by default axis = 0
series_1 = pd.concat([series_1,series_2])
print(series_1)

0     2
1     4
2     6
3     8
0    10
1    12
2    14
3    16
dtype: int64

In [ ]:
series_1 =pd.Series([2,4,6,8,12])
series_2 =pd.Series([10,12,14,16,18])
series_1 = pd.concat([series_1,series_2],axis=1)
print(series_1)

    0     1
0   2  10.0
1   4  12.0
2   6  14.0
3   8  16.0
4  12   NaN

In [ ]:
s={'a':1,'b':2,'c':3,'d':4,'e':5}

# convert dictionary to series
s1=pd.Series(s)
print(s1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [24]:
series_1 =pd.Series([2,4,6,8,12])
series_2 =pd.Series([10,12,14,16,20])
series_3 =pd.Series([10,12,14,16,20])
series_1 = pd.concat([series_1,series_2,series_3],axis=1)
print(series_1)

    0   1   2
0   2  10  10
1   4  12  12
2   6  14  14
3   8  16  16
4  12  20  20