In [4]:
import pandas as pd
sr = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
sr

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
s=sr.truncate(before=3)
print(s)
# here before=3 means that the first 3 elements are not included in the result
s=sr.truncate(before=2, after=4)
# here before=2 means that the first 2 elements are not included in the result
# and after=4 means that the last 4 elements are not included in the result
print(s)

3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
2    3
3    4
4    5
dtype: int64

In [9]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3, 4, None, 5],
                   'B': [None, 2, 3, 4, 5, 6],
                   'C': [1, None, None, 4, 5, 6],
                   'D': [1, 2, 3, 4, 5, 6]})
index =['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6']
df.index = index
print(df)
# Truncate the DataFrame to only include rows from 'row_2' to 'row_4'
result = df.truncate(before='row_2', after='row_4')
print(result)

         A    B    C  D
row_1  1.0  NaN  1.0  1
row_2  2.0  2.0  NaN  2
row_3  3.0  3.0  NaN  3
row_4  4.0  4.0  4.0  4
row_5  NaN  5.0  5.0  5
row_6  5.0  6.0  6.0  6
         A    B    C  D
row_2  2.0  2.0  NaN  2
row_3  3.0  3.0  NaN  3
row_4  4.0  4.0  4.0  4

In [13]:
import numpy as np
import pandas as pd
# Create a DataFrame with randn values
from numpy.random import randn
df = pd.DataFrame(randn(5, 3),['a', 'b', 'c', 'd', 'e'], ['A', 'B', 'C'])
df

          A         B         C
a -1.009442  0.118584  0.220576
b  0.506637  0.171759  1.380017
c -2.421590 -1.963332 -1.782599
d -0.484493  0.931185 -1.196682
e  0.080181 -0.440495  0.109426

In [14]:
import numpy as np
import pandas as pd
# Create a DataFrame with randn values
from numpy.random import rand
df = pd.DataFrame(rand(5, 3),['a', 'b', 'c', 'd', 'e'], ['A', 'B', 'C'])
df

          A         B         C
a  0.426654  0.628819  0.320569
b  0.227319  0.324564  0.934893
c  0.517047  0.958989  0.039903
d  0.122694  0.733994  0.981714
e  0.618816  0.094875  0.790749

In [15]:
import numpy as np
import pandas as pd
# Create a DataFrame with randn values
from numpy.random import randint
df = pd.DataFrame(randint(0, 10, (5, 3)),['a', 'b', 'c', 'd', 'e'], ['A', 'B', 'C'])
df

   A  B  C
a  9  8  6
b  1  2  0
c  9  5  0
d  2  9  9
e  7  0  1

In [ ]:
df<=5

       A      B      C
a  False  False  False
b   True   True   True
c  False   True   True
d   True  False  False
e  False   True   True

In [19]:
df['A']

a    9
b    1
c    9
d    2
e    7
Name: A, dtype: int32

In [ ]:
df['A']<=5

# here df['A']<=5 means that the values in column A are less than or equal to 5

a    False
b     True
c    False
d     True
e    False
Name: A, dtype: bool

In [ ]:
df[df['A']<=5]
# here df[df['A']<=5] means that the values in column A are less than or equal to 5
# and the corresponding rows are returned

   A  B  C
b  1  2  0
d  2  9  9